body {
    background-color: #DFD4E4;
    font-family: 'Nanum Gothic', sans-serif;
}

.bg {
  background-color: white;
  border-radius: 30px;

  position: absolute;
  display: flex;
  top: 5%;
  left: 3%;
  width: 94vw;
  height: 90vh;
}

.frame {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15%;
  left: 14%;
  width: 30vw;
  height: 30vh;

  z-index: 998;
}

.wrap { 
    width: 20vw;
    height: 31vh;
    position: absolute;
    overflow: hidden;
    border-radius : 50%;  
    background: #DFD4E4;
    background: linear-gradient(180deg, #DFD4E4 37%, #FFE4AF 81%);
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    transform: translate3d(0, 0, 0);
}

.wrap:hover {
    background: #FFE4AF;
}

.envelope {
  width: 22vw;
  height: 22vh;

  position: fixed;
  
  cursor: help;

  z-index: 998;
}

.recipe_envelope {            
    left: 20%;
    top: 60%;
}

.restaurant_envelope {
    left: 57%;
    top: 60%;
}

.envelope-close {
    display: block;
}

#recipe {
    width: 22vw;
    height: 22vh;

    position: fixed;
    left: 27%;
    top: 79%;

    color: rgb(189, 160, 189);
    font-size: 4vmin;

    z-index: 998;
}

#restaurant {
    width: 22vw;
    height: 22vh;

    position: fixed;
    left: 65%;
    top: 79%;

    color: rgb(189, 160, 189);
    font-size: 4vmin;

    z-index: 998;
}

#quail {
    width: 17vw;
    height: 31vh;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    cursor: url("https://cdn.discordapp.com/attachments/968536631512543262/969992455183294534/cursor.cur"), auto;
}

.bubble {
  width: 30vw;

  position: absolute;
  top: 15%;
  left: 45%;

  text-align: left;
  padding : 1% 2%;

  background-color: #DFD4E4;
  border-radius: 40px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);

  z-index: 998;
}

.bubble > p {
    font-size: 4vmin;
    font-weight: bold;
    color: white;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3vmin;

    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    top: 105%;
    right: 10%;

    z-index: 999;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #DFD4E4;
    color: white;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #DFD4E4;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}